.banner {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerImg {
  width: 100%;
  height: clamp(100px, 20vw, 128px);
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.viewCounter {
  position: absolute;
  top: calc(clamp(100px, 20vw, 128px) + 8px);
  left: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: clamp(12px, 1.2vw, 14px);
  z-index: 5;
}

.avatar {
  width: clamp(80px, 20vw, 136px);
  border-radius: 50%;
  margin-top: calc(-0.5 * clamp(80px, 20vw, 136px));
  background: #fff;
}

.nameAndBadges {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.username {
  font-size: clamp(1.4rem, 5vw, 2rem);
  color: #fff;
  margin: 0;
}

.usernameWrapper {
  position: relative;
}

.usernameTooltip {
  visibility: hidden;
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.usernameWrapper:hover .usernameTooltip {
  visibility: visible;
  opacity: 1;
}

.badges {
  display: flex;
  gap: 4px;
  margin-left: 5px;
  margin-top: 3px;
}

.badges img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.badgeWrapper {
  position: relative;
}

.tooltip {
  visibility: hidden;
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .2s;
}

.badgeWrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
